.header {

  .slider {
    @include position(absolute, 0 0 0 0);
    top: 0;
    z-index: 0;
  }

  .carousel .item {
    height: 100vh;
  }

  .item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .wrapper {

    .logo-bg {
      display: flex;
      align-items: center;
      position: relative;
      background: white;
      height: 100px;
      padding: 0 50px;
      margin-top: 100px;
      font-family: 'Gotham medium', sans-serif;
    }

    .logo {
      @include position(absolute, -50% 0 0 50%);
      transform: translateX(-50%);
      img {

      }
    }

    &.t-420 {
      margin-top: 420px;
      text-align: center;
      background: black;
      padding: 40px;
      color: white;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 560px;
        height: 3px;
        background: #fff;
        transform: translateX(-50%);
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 170px;
        background: #000;
        transform: translateX(-50%);
        z-index: -1;
      }

      .description {
        margin-top: 30px;
        width: 780px;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
      }
    }
  }
}
