::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
.o-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 1080px;
  z-index: 1;
}
